*{
    margin: 0px;
    padding: 0px;
}
.header{
    font-size: 50px;
    text-align: center;
}
.input{
    margin-left: 430px;
    height: 40px;
    width: 300px;
    padding-left: 20px;
    border: 1px solid white;
    background-color: whitesmoke;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-color: black;
    border-bottom-width: 3px;
}
.main-div{
background-color: yellow;
height:500px;
width: 1000px;
padding: 20px;
display: flex;
flex-direction: row;
}
.data{
    height: 500px;
    width: 200px;
    border: 1px solid black;
}