*{
    margin: 0px;
    padding: 0px;
}
.Header{
    background-color: gray;
    padding-top: 20px;
    padding-left: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 100%; */
}
.Header-head{
    color: blue;
    font-size: 50px;
    font-weight: 500;
}
.try{
    color: red;
}
.Header-home{
    font-weight: 500;
    font-size: 30px;
}
.Header-categories{
    font-weight: 500;
    font-size: 30px;
}
.Header-account{
    font-weight: 500;
    font-size: 30px;
}
.Home{
    background-color: blue;
    height: 300px;
    margin-top: 180px;
}
.Home-head{
    font-size: 50px;
    color: white;
    margin-left: 350px;
}
.Home-head1{
    color: black;
}
.Home-head-2{
    font-size: 30px;
    color: white;
    margin-left: 380px;
}
.Home-link-div{
    background-color: white;
    height: 50px;
    width: 300px;
    margin-left: 550px;
    padding-top: 10px;
    text-align: center;
    border-radius: 10px;
}
.Home-link{
    font-size: 20px;
    color: blue;
}
.Home-Intro{
    margin-bottom: 30px;
}
.Categories-main-div{
    margin-top: 180px;
    margin-bottom: 30px;
}
.Categories-head-div{
    /* background-color: white; */
    margin-left: 500px;
}
.Categories-head{
    font-size: 50px;
    font-weight: 500;
}
.Categories-para{
    font-size: 20px;
    margin-left: -40px;
}
.Categories-div{
    background-color: blue;
    color: white;
    margin-left: 500px;
    height: 200px;
    width: 500px;
    border-radius: 10px;
}
.Categories-div-head{
    font-size: 40px;
    margin-left: 130px;
}
.Categories-div-para{
    font-size: 20px;
    margin-left:100px;
    width: 300px;
}
.Categories-div-btn-div{
  background-color: black;
  color: white;
  height: 50px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  margin-left: 140px;
  margin-top: 20px;
  padding: 7px;
}
.Categories-div-btn{
    font-size: 20px;
}
.Subject-head-div{
    /* background-color: white; */
    margin-left: 550px;
    margin-top: 180px;
}
.Subject-head{
    font-size: 50px;
    font-weight: 500;
}
.Subject-para{
    font-size: 20px;
    margin-left: -80px;
}
.Subject-div{
    background-color: blue;
    color: white;
    margin-left: 500px;
    height: 200px;
    width: 500px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.Subject-div-head{
    font-size: 40px;
    margin-left: 190px;
}
.Subject-div-para{
    font-size: 20px;
    margin-left:140px;
}
.Subject-div-btn-div{
  background-color: black;
  color: white;
  height: 50px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  margin-left: 140px;
  margin-top: 20px;
  padding: 8px;
}
.Subject-div-btn{
    font-size: 20px;
}
.Chapter-head-div{
    /* background-color: white; */
    margin-left: 530px;
    margin-top: 200px;
}
.Chapter-head{
    font-size: 40px;
    font-weight: 500;
    margin-left: 85px;
}
.Chapter-para{
    font-size: 20px;
    margin-left: 120px;
}
.Chapter-div{
    background-color: blue;
    color: white;
    margin-left: 500px;
    height: 200px;
    width: 500px;
    border-radius: 10px;
}
.Chapter-div-head{
    font-size: 30px;
    margin-left: 150px;
}
.Chapter-div-para{
    font-size: 19px;
    margin-left:155px;
}
.Chapter-div-btn-div{
  background-color: black;
  color: white;
  height: 50px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  margin-left: 150px;
  margin-top: 20px;
  padding: 7px;
}
.Chapter-div-btn{
    font-size: 20px;
}

.Footer{
    background-color: gray;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.Footer-about{
    font-size: 30px;
    margin-left: -100px;
}
.Footer-help{
    font-size: 30px;
    margin-left: 100px;
}
.Footer-contact{
    font-size: 30px;
    margin-left: 100px;
}
.about-main-div{
    margin-top: 200px;
}
.about-head{
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
}
.about-para1{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.about-para2{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.about-misson-head{
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.about-para3{
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.about-team-head{
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.about-para4{
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.Help-Main-div{
    margin-top: 200px;
}
.help-head{
    font-size: 45px;
    text-align: center;
    font-weight: bold;
}
.help-assitant{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.help-para1{
    text-align: center;
    font-size: 20px;
}
.help-common-head{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}
.help-common-list{
    text-align: center;
    font-size: 15px;
}
.help-improve{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.contact-main-div{
    margin-top: 200px;
}
.contact-head{
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
}
.contact-para1{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.contact-para2{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.contact-head2{
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 15px;
}
.contact-email{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
.contact-insta{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
.contact-para3{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.VideosMainDiv{
display: block;
}
.Videos-head-div{
    margin-top: 200px;
}
.VideosDiv{
    margin-left: 550px;
    height: 300px;
    width: 450px;
    /* background-color: wheat; */
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 30px;
}
.VideoHead{
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    color: white;
}
.VideoLink{
    font-size: 40px;
    margin-left: 140px;
    color: white;
}
.index{
    background-color: red;
}
.form-login{
    background-color: white;
    margin-top: -48px;
    margin-bottom: -25px;
    height: 500px;
}
.form-signup{
    background-color: blue;
}
.form{
    height: 400px;
}
.account-header{
    text-align: center;
    font-size: 40px;
    color: white;
    margin-top: 180px;
}
.account-input{
    background-color: white;
    color: black;
    height: 40px;
    width: 600px;
    border-radius: 5px;
    margin: 10px 0px 0px 450px;
}
.account-submitBtn{
    background-color: blue;
    color: white;
    margin-top: 30px;
    margin-left: 700px;
    font-size: 30px;
}
.account-home-btn{
    background-color: white;
    color: blue;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    margin: 40px 0px 30px 600px;
    font-size: 30px;
    text-align: center;
    padding-top:-40px;
}
.signup-info-div{
    display: flex;
    margin-left: 610px;
}
.signup-info{
    color: black;
    font-size: 20px;
    text-align: center;
}
.signup-btn{
    color: white;
    font-size: 20px;
    text-align: center;
}
.login-head{
    text-align: center;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-top: 230px;
}
.login-email{
    height: 40px;
    width: 600px;
    background-color: lightgray;
    border-radius: 5px;
    margin-left: 460px;
    margin-top: 30px;
}
.login-password{
    height: 40px;
    width: 600px;
    background-color: gainsboro;
    border-radius: 5px;
    margin-left: 460px;
}
.login-submit-btn{
    background-color: blue;
    color: white;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    margin: 40px 0px 10px 600px;
    font-size: 30px;
}
.login-home-btn{
    background-color: gainsboro;
    color: blue;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    margin: 40px 0px 30px 600px;
    font-size: 30px;
    text-align: center;
    padding-top:-40px;
    border: 1px solid blue;
}
.login-info-div{
    display: flex;
    margin-left: 610px;
    margin-bottom: 50px;
}
.login-info{
    color: black;
    font-size: 20px;
    text-align: center;
}
.login-btn{
    color: blue;
    font-size: 20px;
    text-align: center;
}


@media screen and (max-width :800px){
    *{
        margin: 0;
        padding: 0;
    }
    .Header{
        position: fixed;
        top: 0;
        width: 440px;
        /* height: 230px; */
        height: 170px;
        margin-top: -20px;
    }
    .Header-head{
        font-size: 30px;
    }
    .Header-home{
        font-size: 20px;
    }
    .Header-categories{
        font-size: 20px;
    }
    .Header-account{
        font-size: 20px;
    }
    .Home{
        margin-top: 100px;
        width: 430px;
        height: 180px;
    }
    .Home-head{
        font-size: 25px;
        margin-left: 30px;
    }
    .Home-head-2{
        font-size: 15px;
        margin-left: 55px;
    }
    .Home-link-div{
        height: 50px;
        width: 280px;
        margin-left: 70px;
    }
    .Home-Intro{
        width: 430px;
        height: 300px;
        margin-top: 10px;
        margin-left: -15px;
        text-align: center;
    }
    .Categories-main-div{
        width: auto;
    }
    .Categories-head-div{
        margin-top: -60px;
        /* height: 70px; */
        text-align: center;
        margin-left: -5px;
    }
    .Categories-head{
      font-size: 30px;
      /* margin-left: -430px; */
    }
    .Categories-para{
        font-size: 15px;
        margin-left: 4px;
        width: -490px;
    }
    .Categories-div{
        margin-left: 70px;
        width: 300px;
        height: 100px;
    }
    .Categories-div-head{
        font-size: 20px;
        margin-left: 100px;
    }
    .Categories-div-para{
        font-size: 12px;
        margin-left: 25px;
    }
    .Categories-div-btn-div{
        margin-left: 100px;
        margin-top: 10px;
        font-size: 10px;
        height: 30px;
        width: 100px;
    }
    .Subject-head-div{
        margin-top: 110px;
        /* position: fixed;
        left: 0; */
        text-align: center;
        margin-left: -5px;
    }
    .Subject-head{
        font-size: 30px;
      /* margin-left: -440px; */
    }
    .Subject-para{
        font-size: 15px;
        margin-left: 0px;
    }
    .Subject-div{
        margin-left: 70px;
        width: 300px;
        height: 100px;
    }
    .Subject-div-head{
        font-size: 20px;
        margin-left: 125px;
    }
    .Subject-div-para{
        font-size: 12px;
        margin-left: 85px;
    }
    .Subject-div-btn-div{
        margin-left: 100px;
        margin-top: 10px;
        font-size: 10px;
        height: 30px;
        width: 100px;
    }
    .Chapter-head-div{
        margin-top: 160px;
        /* width: -110px; */
        text-align: center;
        margin-left: -5px;
    }
    .Chapter-head{
      font-size: 20px;
      margin-left: 10px;
      
    }
    .Chapter-div{
        margin-left: 70px;
        width: 300px;
        height: 100px;
    }
    .Chapter-div-head{
        font-size: 20px;
        margin-left: 80px;
    }
    .Chapter-div-para{
        font-size: 12px;
        margin-left: 80px;
    }
    .Chapter-div-btn-div{
        margin-left: 100px;
        margin-top: 10px;
        font-size: 10px;
        height: 30px;
        width: 100px;
    }
    .Videos-head-div{
        text-align: center;
        margin-top: 150px;
        margin-left: 0px;
    }
    /* .Videos-head{
        text-align: center;
        font-size: 100px;
    } */
     .VideosDiv{
        margin-left: 25px;
        margin-top: 20px;
        margin-bottom: 135px;
        height: 100px;
        width: 400px;
     }
     .VideoFrame{
        height: 200px;
        width: 300px;
        margin-left: 40px;
     }
    .Footer{
        width: 440px;
        height: 50px;
    }
    .Footer-about{
        font-size: 18px;
        margin-left: 0px;
    }
    .Footer-help{
        font-size: 18px;
        margin-left: 70px;
    }
    .Footer-contact{
        font-size: 18px;
        margin-left: 70px;
    }
    .about-main-div{
        margin-top: 110px;
    }
    .Help-Main-div{
        margin-top: 110px;
    }
    .help-assitant{
        font-size: 28px;
    }
    .help-para1{
        margin-left: 10px;
        margin-right: 10px;
    }
    .contact-main-div{
        margin-top: 110px;
    }
    .form-signup{
        margin-top: -80px;
        height: 450px;
    }
    .account-input{
     margin-left: 65px;
     width: 300px;
    }
    .account-submitBtn{
        width: 200px;
        margin-left: 120px;
    }
    .account-home-btn{
        margin-left: 170px;
        width: 100px;
    }
    .signup-info-div{
        margin-left: 75px;
    }
    .form-login{
        margin-top: -130px;
    }
    .login-email{
        margin-left: 65px;
        width: 300px;
    }
    .login-password{
        margin-left: 65px;
        width: 300px;
    }
    .login-submit-btn{
        margin-left: 120px;
        width: 200px;
    }
    .login-home-btn{
        margin-left: 120px;
        width: 200px;
    }
    .login-info-div{
        margin-left: 75px;
    }
}